{% extends 'User/main.html' %}
{% block content %}

<form action="" method="post" class="login_form">
    {% csrf_token %}
    <div class="login_form_head">
        <div class="brand">Login</div>
    </div>
    <div class="error-msgs login_form_element">
        <ul>
            {% for val in error_msgs%}
        <li>{{val}}</li>
        {% endfor %}
        </ul>
    </div>
    <div class="username login_form_element">
        <label for="rollno">Roll No:</label>
        <input type="text" name="rollno" id="rollno" placeholder="Enter Roll Number" autofocus="autofocus">
    </div>
    <div class="password login_form_element">
        <label for="pwd">Password:</label>
        <input type="password" name="pwd" id="pwd" placeholder="Enter Password">
    </div>
    <button type="submit" class="btn">Submit</button>
</form>

{% endblock %}